/*
 * HTML
 */
:root, .html {
    --gainsboro: #dcdcdc;
    --light-gray: #d3d3d3;
    --silver: #c0c0c0;
    --dark-gray: #a9a9a9;
    --gray: #808080;
    --dim-gray: #696969;
    --light-slate-gray: #778899;
    --slate-gray: #708090;
    --dark-slate-gray: #2f4f4f;
    --black: #000000;
    --cornsilk: #fff8dc;
    --blanched-almond: #ffebcd;
    --bisque: #ffe4c4;
    --navajo-white: #ffdead;
    --wheat: #f5deb3;
    --burly-wood: #deb887;
    --tan: #d2b48c;
    --rosy-brown: #bc8f8f;
    --sandy-brown: #f4a460;
    --goldenrod: #daa520;
    --dark-goldenrod: #b8860b;
    --peru: #cd853f;
    --chocolate: #d2691e;
    --saddle-brown: #8b4513;
    --sienna: #a0522d;
    --brown: #a52a2a;
    --maroon: #800d00;
    --indian-red: #cd5c5c;
    --light-coral: #f08080;
    --salmon: #fa8072;
    --dark-salmon: #e9967a;
    --light-salmon: #ffa07a;
    --crimson: #dc213c;
    --red: #ff2600;
    --fire-brick: #b22222;
    --dark-red: #8b0f00;
    --pink: #ffc0cb;
    --light-pink: #ffb6c1;
    --hot-pink: #ff69b4;
    --deep-pink: #ff2f93;
    --medium-violet-red: #c72585;
    --pale-violet-red: #db7093;
    --coral: #ff7f50;
    --tomato: #ff6347;
    --orange-red: #ff4500;
    --dark-orange: #ff8c00;
    --orange: #ffa500;
    --gold: #ffd700;
    --yellow: #fffb00;
    --light-yellow: #fffee0;
    --lemon-chiffon: #fffacd;
    --light-goldenrod-yellow: #fafad2;
    --papaya-whip: #ffefd5;
    --moccasin: #ffe4b5;
    --peach-puff: #ffdab9;
    --pale-goldenrod: #eee8aa;
    --khaki: #f0e68c;
    --dark-khaki: #bdb76b;
    --green-yellow: #adfa2f;
    --chartreuse: #7ffa00;
    --lawn-green: #7cfa00;
    --lime: #05f900;
    --lime-green: #32cd32;
    --pale-green: #98fb98;
    --light-green: #90ee90;
    --medium-spring-green: #00fa9a;
    --spring-green: #04fa7f;
    --medium-sea-green: #3cb371;
    --sea-green: #2e8b57;
    --forest-green: #228b22;
    --green: #008000;
    --dark-green: #006400;
    --yellow-green: #9acd32;
    --olive-drab: #6b8e23;
    --olive: #808000;
    --dark-olive-green: #556b2f;
    --medium-aquamarine: #66cdaa;
    --dark-sea-green: #8fbc8b;
    --light-sea-green: #20b2aa;
    --dark-cyan: #008b8b;
    --teal: #008080;
    --lavender: #e6e6fa;
    --thistle: #d8bfd8;
    --plum: #dda0dd;
    --violet: #ee82ee;
    --orchid: #da70d6;
    --fuchsia: #ff40ff;
    --magenta: #ff40ff;
    --medium-orchid: #ba55d3;
    --medium-purple: #9370db;
    --rebecca-purple: #663399;
    --blue-violet: #8a30e2;
    --dark-violet: #942dd3;
    --dark-orchid: #9932cc;
    --dark-magenta: #8b1e8b;
    --purple: #801b80;
    --indigo: #4b1782;
    --slate-blue: #6a5acd;
    --dark-slate-blue: #483d8b;
    --medium-slate-blue: #7b68ee;
    --aqua: #02fdff;
    --cyan: #02fdff;
    --light-cyan: #e0feff;
    --pale-turquoise: #afeeee;
    --aquamarine: #7ffcd4;
    --turquoise: #40e0d0;
    --medium-turquoise: #48d1cc;
    --dark-turquoise: #00ced1;
    --cadet-blue: #5f9ea0;
    --steel-blue: #4682b4;
    --light-steel-blue: #b0c4de;
    --powder-blue: #b0e0e6;
    --light-blue: #add8e6;
    --sky-blue: #87ceeb;
    --light-sky-blue: #87cefa;
    --deep-sky-blue: #00bfff;
    --dodger-blue: #1e90ff;
    --cornflower-blue: #6495ed;
    --royal-blue: #4169e1;
    --blue: #0432ff;
    --medium-blue: #0327cd;
    --dark-blue: #01178b;
    --navy: #011480;
    --midnight-blue: #191970;
    --white: #ffffff;
    --snow: #fffafa;
    --honey-dew: #f0fef0;
    --mint-cream: #f5fffa;
    --azure: #f0ffff;
    --alice-blue: #f0f8ff;
    --ghost-white: #f8f8ff;
    --white-smoke: #f5f5f5;
    --sea-shell: #fff5ee;
    --beige: #f5f5dc;
    --old-lace: #fdf5e6;
    --floral-white: #fffaf0;
    --ivory: #fffff0;
    --antique-white: #faebd7;
    --linen: #faf0e6;
    --lavender-blush: #fff0f5;
    --misty-rose: #ffe4e1;
}

@supports (color: color(display-p3 1 1 1)) {
    :root, .html {
        --gainsboro: color(display-p3 0.863 0.863 0.863 / 1.0);
        --light-gray: color(display-p3 0.827 0.827 0.827 / 1.0);
        --silver: color(display-p3 0.753 0.753 0.753 / 1.0);
        --dark-gray: color(display-p3 0.663 0.663 0.663 / 1.0);
        --gray: color(display-p3 0.502 0.502 0.502 / 1.0);
        --dim-gray: color(display-p3 0.412 0.412 0.412 / 1.0);
        --light-slate-gray: color(display-p3 0.467 0.533 0.6 / 1.0);
        --slate-gray: color(display-p3 0.439 0.502 0.565 / 1.0);
        --dark-slate-gray: color(display-p3 0.184 0.31 0.31 / 1.0);
        --black: color(display-p3 0.0 0.0 0.0 / 1.0);
        --cornsilk: color(display-p3 1.0 0.973 0.863 / 1.0);
        --blanched-almond: color(display-p3 1.0 0.922 0.804 / 1.0);
        --bisque: color(display-p3 1.0 0.894 0.769 / 1.0);
        --navajo-white: color(display-p3 1.0 0.871 0.678 / 1.0);
        --wheat: color(display-p3 0.961 0.871 0.702 / 1.0);
        --burly-wood: color(display-p3 0.871 0.722 0.529 / 1.0);
        --tan: color(display-p3 0.824 0.706 0.549 / 1.0);
        --rosy-brown: color(display-p3 0.737 0.561 0.561 / 1.0);
        --sandy-brown: color(display-p3 0.957 0.643 0.376 / 1.0);
        --goldenrod: color(display-p3 0.855 0.647 0.125 / 1.0);
        --dark-goldenrod: color(display-p3 0.722 0.525 0.043 / 1.0);
        --peru: color(display-p3 0.804 0.522 0.247 / 1.0);
        --chocolate: color(display-p3 0.824 0.412 0.118 / 1.0);
        --saddle-brown: color(display-p3 0.545 0.271 0.075 / 1.0);
        --sienna: color(display-p3 0.627 0.322 0.176 / 1.0);
        --brown: color(display-p3 0.647 0.165 0.165 / 1.0);
        --maroon: color(display-p3 0.502 0.052 0.0 / 1.0);
        --indian-red: color(display-p3 0.804 0.361 0.361 / 1.0);
        --light-coral: color(display-p3 0.941 0.502 0.502 / 1.0);
        --salmon: color(display-p3 0.98 0.502 0.447 / 1.0);
        --dark-salmon: color(display-p3 0.914 0.588 0.478 / 1.0);
        --light-salmon: color(display-p3 1.0 0.627 0.478 / 1.0);
        --crimson: color(display-p3 0.863 0.129 0.235 / 1.0);
        --red: color(display-p3 1.0 0.149 0.0 / 1.0);
        --fire-brick: color(display-p3 0.698 0.133 0.133 / 1.0);
        --dark-red: color(display-p3 0.545 0.06 0.0 / 1.0);
        --pink: color(display-p3 1.0 0.753 0.796 / 1.0);
        --light-pink: color(display-p3 1.0 0.714 0.757 / 1.0);
        --hot-pink: color(display-p3 1.0 0.412 0.706 / 1.0);
        --deep-pink: color(display-p3 1.0 0.184 0.576 / 1.0);
        --medium-violet-red: color(display-p3 0.78 0.145 0.522 / 1.0);
        --pale-violet-red: color(display-p3 0.859 0.439 0.576 / 1.0);
        --coral: color(display-p3 1.0 0.498 0.314 / 1.0);
        --tomato: color(display-p3 1.0 0.388 0.278 / 1.0);
        --orange-red: color(display-p3 1.0 0.271 0.0 / 1.0);
        --dark-orange: color(display-p3 1.0 0.549 0.0 / 1.0);
        --orange: color(display-p3 1.0 0.647 0.0 / 1.0);
        --gold: color(display-p3 1.0 0.843 0.0 / 1.0);
        --yellow: color(display-p3 0.999 0.984 0.0 / 1.0);
        --light-yellow: color(display-p3 1.0 0.996 0.878 / 1.0);
        --lemon-chiffon: color(display-p3 1.0 0.98 0.804 / 1.0);
        --light-goldenrod-yellow: color(display-p3 0.98 0.98 0.824 / 1.0);
        --papaya-whip: color(display-p3 1.0 0.937 0.835 / 1.0);
        --moccasin: color(display-p3 1.0 0.894 0.71 / 1.0);
        --peach-puff: color(display-p3 1.0 0.855 0.725 / 1.0);
        --pale-goldenrod: color(display-p3 0.933 0.91 0.667 / 1.0);
        --khaki: color(display-p3 0.941 0.902 0.549 / 1.0);
        --dark-khaki: color(display-p3 0.741 0.718 0.42 / 1.0);
        --green-yellow: color(display-p3 0.678 0.98 0.184 / 1.0);
        --chartreuse: color(display-p3 0.498 0.979 0.0 / 1.0);
        --lawn-green: color(display-p3 0.486 0.979 0.0 / 1.0);
        --lime: color(display-p3 0.02 0.976 0.0 / 1.0);
        --lime-green: color(display-p3 0.196 0.804 0.196 / 1.0);
        --pale-green: color(display-p3 0.596 0.984 0.596 / 1.0);
        --light-green: color(display-p3 0.565 0.933 0.565 / 1.0);
        --medium-spring-green: color(display-p3 0.0 0.98 0.604 / 1.0);
        --spring-green: color(display-p3 0.016 0.98 0.498 / 1.0);
        --medium-sea-green: color(display-p3 0.235 0.702 0.443 / 1.0);
        --sea-green: color(display-p3 0.18 0.545 0.341 / 1.0);
        --forest-green: color(display-p3 0.133 0.545 0.133 / 1.0);
        --green: color(display-p3 0.0 0.502 0.0 / 1.0);
        --dark-green: color(display-p3 0.0 0.392 0.0 / 1.0);
        --yellow-green: color(display-p3 0.604 0.804 0.196 / 1.0);
        --olive-drab: color(display-p3 0.42 0.557 0.137 / 1.0);
        --olive: color(display-p3 0.502 0.502 0.0 / 1.0);
        --dark-olive-green: color(display-p3 0.333 0.42 0.184 / 1.0);
        --medium-aquamarine: color(display-p3 0.4 0.804 0.667 / 1.0);
        --dark-sea-green: color(display-p3 0.561 0.737 0.545 / 1.0);
        --light-sea-green: color(display-p3 0.125 0.698 0.667 / 1.0);
        --dark-cyan: color(display-p3 0.0 0.545 0.545 / 1.0);
        --teal: color(display-p3 0.0 0.502 0.502 / 1.0);
        --lavender: color(display-p3 0.902 0.902 0.98 / 1.0);
        --thistle: color(display-p3 0.847 0.749 0.847 / 1.0);
        --plum: color(display-p3 0.867 0.627 0.867 / 1.0);
        --violet: color(display-p3 0.933 0.51 0.933 / 1.0);
        --orchid: color(display-p3 0.855 0.439 0.839 / 1.0);
        --fuchsia: color(display-p3 1.0 0.251 1.0 / 1.0);
        --magenta: color(display-p3 1.0 0.251 1.0 / 1.0);
        --medium-orchid: color(display-p3 0.729 0.333 0.827 / 1.0);
        --medium-purple: color(display-p3 0.576 0.439 0.859 / 1.0);
        --rebecca-purple: color(display-p3 0.4 0.2 0.6 / 1.0);
        --blue-violet: color(display-p3 0.541 0.188 0.886 / 1.0);
        --dark-violet: color(display-p3 0.58 0.178 0.827 / 1.0);
        --dark-orchid: color(display-p3 0.6 0.196 0.8 / 1.0);
        --dark-magenta: color(display-p3 0.545 0.119 0.545 / 1.0);
        --purple: color(display-p3 0.502 0.107 0.502 / 1.0);
        --indigo: color(display-p3 0.294 0.09 0.51 / 1.0);
        --slate-blue: color(display-p3 0.416 0.353 0.804 / 1.0);
        --dark-slate-blue: color(display-p3 0.282 0.239 0.545 / 1.0);
        --medium-slate-blue: color(display-p3 0.482 0.408 0.933 / 1.0);
        --aqua: color(display-p3 0.008 0.992 1.0 / 1.0);
        --cyan: color(display-p3 0.008 0.992 1.0 / 1.0);
        --light-cyan: color(display-p3 0.878 0.996 1.0 / 1.0);
        --pale-turquoise: color(display-p3 0.686 0.933 0.933 / 1.0);
        --aquamarine: color(display-p3 0.498 0.988 0.831 / 1.0);
        --turquoise: color(display-p3 0.251 0.878 0.816 / 1.0);
        --medium-turquoise: color(display-p3 0.282 0.82 0.8 / 1.0);
        --dark-turquoise: color(display-p3 0.0 0.808 0.82 / 1.0);
        --cadet-blue: color(display-p3 0.373 0.62 0.627 / 1.0);
        --steel-blue: color(display-p3 0.275 0.51 0.706 / 1.0);
        --light-steel-blue: color(display-p3 0.69 0.769 0.871 / 1.0);
        --powder-blue: color(display-p3 0.69 0.878 0.902 / 1.0);
        --light-blue: color(display-p3 0.678 0.847 0.902 / 1.0);
        --sky-blue: color(display-p3 0.529 0.808 0.922 / 1.0);
        --light-sky-blue: color(display-p3 0.529 0.808 0.98 / 1.0);
        --deep-sky-blue: color(display-p3 0.0 0.749 1.0 / 1.0);
        --dodger-blue: color(display-p3 0.118 0.565 1.0 / 1.0);
        --cornflower-blue: color(display-p3 0.392 0.584 0.929 / 1.0);
        --royal-blue: color(display-p3 0.255 0.412 0.882 / 1.0);
        --blue: color(display-p3 0.017 0.198 1.0 / 1.0);
        --medium-blue: color(display-p3 0.012 0.151 0.804 / 1.0);
        --dark-blue: color(display-p3 0.004 0.09 0.545 / 1.0);
        --navy: color(display-p3 0.004 0.079 0.502 / 1.0);
        --midnight-blue: color(display-p3 0.098 0.098 0.439 / 1.0);
        --white: color(display-p3 1.0 1.0 1.0 / 1.0);
        --snow: color(display-p3 1.0 0.98 0.98 / 1.0);
        --honey-dew: color(display-p3 0.941 0.996 0.941 / 1.0);
        --mint-cream: color(display-p3 0.961 0.999 0.98 / 1.0);
        --azure: color(display-p3 0.941 0.999 1.0 / 1.0);
        --alice-blue: color(display-p3 0.941 0.973 1.0 / 1.0);
        --ghost-white: color(display-p3 0.973 0.973 1.0 / 1.0);
        --white-smoke: color(display-p3 0.961 0.961 0.961 / 1.0);
        --sea-shell: color(display-p3 1.0 0.961 0.933 / 1.0);
        --beige: color(display-p3 0.961 0.961 0.863 / 1.0);
        --old-lace: color(display-p3 0.992 0.961 0.902 / 1.0);
        --floral-white: color(display-p3 1.0 0.98 0.941 / 1.0);
        --ivory: color(display-p3 1.0 0.998 0.941 / 1.0);
        --antique-white: color(display-p3 0.98 0.922 0.843 / 1.0);
        --linen: color(display-p3 0.98 0.941 0.902 / 1.0);
        --lavender-blush: color(display-p3 1.0 0.941 0.961 / 1.0);
        --misty-rose: color(display-p3 1.0 0.894 0.882 / 1.0);
    }
}